NVE_API=https://www.varsom.no/umbraco/surface/RockslideSurface/GetWeekReports?fromDate={{date}}&toDate={{date}} # Actual API call
#NVE_API=http://127.0.0.1/bolgen/example.json # Mocked API call
MAILGUN_FROM="__EMAIL_FROM_HERE__"
MAILGUN_DOMAIN=__EMAIL_DOMAIN_HERE__
MAILGUN_HOST=https://api.eu.mailgun.net
MAILGUN_API_KEY=__API__KEY__HERE
MAILGUN_RECIPIENT=__RECIPIENT_HERE__
MAILGUN_SUBJECT="Bølgen Rapport"
MAILGUN_TEMPLATE=bolgen
